<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>empeo</title>
    </head>
    <body>

        <div class="container">
            <div class="header">
                <div class="btn-back"><img src="./arrow_left.svg" alt="img"
                        srcset></div>
                <div class="namepage"><h3>Role</h3></div>
                <div class="btn-back"><img src="./arrow_left.svg" alt="img"
                        srcset style="display: none;"></div>
            </div>
            <div class="content">
                <div class="roles" id="roles_res"></div>

            </div>
        </div>
        <script src="roles.js"></script>
    </body>
</html>